.side-bar
  .side-bar__header
    .side-bar__top-items
      masa
      .side-bar__menu
        = link_to new_group_path, class: "menu--edit" do
          = icon('fa', 'edit')
        = link_to "#", class: "menu--cog" do
          = icon('fa', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group
        = link_to "edit_group_path" do
          .side-bar__group-list__group-name
            = group.name
          .side-bar__group-list__latest-message
            メッセージはまだありません