.side-bar
  .side-bar__header
    .side-bar__top-items
      = current_user.name
      .side-bar__menu
        = link_to new_group_path, class: "menu--edit" do
          = icon('fa', 'edit')
        = link_to edit_user_path(current_user), class: "menu--cog" do
          = icon('fa', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group
        = link_to group_messages_path(group) do
          .side-bar__group-list__group-name
            = group.name
          .side-bar__group-list__latest-message
            = group.show_last_message